p {
  color:  #009688;
  font-family:  "Lobster Two";
  font-size: 24px;
}
h1 {
  color: white;
  font-size: 33px;
}
table {
  color:  green
}

p {
  background-color: black
}

body {
  background-color:  blue
}
.huh {
  color:  purple;
  font-family:  Arial;
  font-size:  22px;
}
#tb {
  color:  orange;
}

p {
  padding: 10px;
  border: 3px dotted red;
  margin: 30px;
}
